body {
  background-color: #24182c;
}


#logo {
  margin-top: 20px;
  text-align: center;
}


#logo img {
  max-width: 100%;
}


header {
  color: white;
}


#description {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: white;
}


#book-appointment-now {
  background: none;
  border: none;
  padding: 0;


}


#book-appointment-now ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


#book-appointment-now li {
  display: inline;
  margin-right: 10px;
}


#book-appointment-now a {
  text-decoration: none;
  position: relative;
  color: #914d77;
}


#book-appointment-now a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s ease;
}


#book-appointment-now a:hover::before {
  transform: scaleX(1);
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ad-card-container, .ad-card-container-2 {
  display: flex;
  justify-content: center;
}


section {
  flex: 1;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  background-color: #f9f9f9;
  color: #333;
}


section:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.exterior-img,
.interior-img,
.interior-img-2 {
  max-width: 100%;
  height: auto;
}




.price {
  font-weight: bold;
  color: #26a01f;
  margin-top: 20px;
 
}


#appointment a {
  text-decoration: none;
  color: #854d82;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}


.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.price {
  font-weight: bold;
  color: #854d82;
}


#appointment {
  margin-top: 10px;
}


#appointment a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  background-color: #854d82;
  padding: 10px;
  border-radius: 5px;
}


.slogen {
  text-align: center;
  margin-top: 20px;
  color: rgb(208, 208, 2);
}


.semi-title {
  color: rgb(208, 208, 2);
}


.contact ul {
  text-align: start;
  margin-top: 20px;
  color: rgb(0, 0, 0);
}


.contact li {
  margin-bottom: 10px;
}


#book-now {
  margin-top: 20px;
  text-align: start;
  font-size: 1.1rem;
}
